doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Handlebars: Search Engine

	body
		block content
		block templates
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js")
		script(src="/js/main.js")